services:
  playwright:
    image: mcr.microsoft.com/playwright:v1.58.0-noble
    command: npx playwright run-server --port 49695
    ports:
      - 49695:49695
    extra_hosts:
      - host.docker.internal:host-gateway
    ipc: host
  test-runner:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app
    volumes:
      - .:/app
      - /app/node_modules
    command: pnpm vitest run
    depends_on:
      - playwright
