.root {
	border-radius: 8px;
	border: 1px solid var(--gray);
}

.root::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: opacity 300ms ease-in-out;
}

.content {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	padding: 16px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	font-size: 24px;
}

.closeButton {
	background: none;
	border: none;
	font-size: 24px;
	cursor: pointer;
	padding: 0 8px;
}

.closeButton:hover {
	opacity: 0.5;
}
